<%= render 'header' %>


<h2>List of Products</h2>
<%= if is_admin?
     link_to 'New product', new_product_path
    end
%>

<style>
table,th {text-align: left;}

th { background-color: black; color: white; }

</style>

<table style= "width:50%" >
  <tr>
    <th>Name</th>

    <th>Price</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>

      <td><%= product.price %></td>

      <td><%= link_to 'Show-details', product_path(product) %></td>
      <td><%=   if is_admin?
                  link_to 'Edit', edit_product_path(product)
                end
      %></td>
      <td><%=  if is_admin?
                 link_to 'Destroy', product_path(product),
                 method: :delete,
                 data: { confirm: 'Are you sure?' }
              end
      %></td>
    </tr>
  <% end %>
</table>

<%=   if is_admin?
        link_to 'Go to Customers Details', customers_path
      end
%>
